.container {
    max-width: 100%;
    margin: 4% 10% 2% 8%;
}

.title {
    font: bold 2vw Helvetica;
    margin: 0% 0% 5% 0%
}

.header {
    font: bold 27px Helvetica;
    margin: 5% 0% 5% 5%
}

.paragraph {
    font: bold 25px Helvetica;
}


blockquote {
	font-weight: 100;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	max-width: 600px;
	line-height: .5;
	position: relative;
    padding: 0rem;
    margin-top: 20%;
    margin-left:30%;
    text-align: center
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: 0rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: -1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

.copyright {
    font-size:5mm;
    margin-top: 4%;
    margin-bottom: 0%;
    text-align: center
}

* {box-sizing: border-box}

/* .button {
    font: bold 25px Helvetica;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 30px 2px 6px;
    border-top: 0px solid #333333;
    border-right: 0px solid #333333;
    border-bottom: 0px solid #333333;
    border-left: 0px solid #CCCCCC;
} */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    font: bold 20px Helvetica;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 55px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.about-grid {
    display: grid;
    grid-template-columns: 75% 25%
}

.about-section {
    text-align: center;
}
