.container {
    max-width: 1300px;
    margin: 5%;
}

.title {
    margin: 0% 0% 2% 0%
}

.intro {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%
}

.about-section {
    text-align: center;
}

.about-list {
    padding: 0;
}